build/
cmake-build-*/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/

*.o
*.obj
*.out
*.elf
*.axf
*.map
*.hex
*.bin
*.d
*.su

CMakeCache.txt
CMakeFiles/
compile_commands.json
Makefile
cmake_install.cmake

**/.settings/
**/*.launch

# .project
# .cproject

.idea/
*.iml

.vscode/

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.swp
*.swo
*~

__pycache__/
*.pyc
